<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 生命之光</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Swtychina.css" rel="stylesheet">

</head>
<body id="swtychina">
    @Html.Partial("~/Views/Shared/_Header.cshtml") 
    <div class="container body-content">
        @RenderBody()
        @*<hr />
     @Html.Partial("~/Views/Shared/_footer.cshtml")*@   
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/swtychina.js" type="text/javascript"></script>
    @*<script type="text/javascript">
        var bodyTag = document.getElementById("swtychina");       
        bodyTag.setAttribute("onload", "loadLatestItem()");
    </script>*@
</body>
</html>
